<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="gestioneCorsi.css" >

    <!-- librerie bootstrap -->
    <script src="bootstrap-4.4.1-dist/js/popper.min.js" ></script>
    <script src="bootstrap-4.4.1-dist/js/jquery-slim.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <!-- librerie jquery -->
    <script src="jquery/jquery.min.js" ></script>
    <!-- librerie vue -->
    <script src="vue/vue.min.js" ></script>

    <title>Gestione Corsi</title>
</head>

<body class="bg">

<div id="navbar" id-active-page=""></div>

<div id="appCorso">
    <div class="container-fluid card w-50 mx-auto mt-5">
        <h1 class="text-center my-4">Gestione corsi</h1>
        <hr>
        <form action="javascript:appCorso.addCorso()">
            <div class="mx-auto text-center">
                <p class="text-primary">Nuovo corso:<input class="ml-2" aria-required="true" v-model="corso" type="text" placeholder="Corso" required/> <button title="Inserisci un nuovo corso" type="submit" class="btn btn-primary ml-5 w-auto">Inserisci</button></p>
            </div>
            </form>
    </div>

    <div class="container-fluid card w-50 mx-auto my-5">
        <p class="text-primary my-3">Lista corsi esistenti: </p>
        <p v-if="data.length === 0" class="border-top pt-2">Nessun corso da visualizzare</p>
        <table v-else class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Corso</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(c, index) in data" :key="index">
                <td class="col-md-1">{{index+1}}</td>
                <td>{{c.titolo}}</td>
                <td class="align-content-center col-md-3">
                    <button v-on:click="delCorso(c.titolo, index)" class="btn btn-danger btn-sm" title="Cancella il corso corrispondente"><i class="fas fa-times"></i> Cancella</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer"></div>

<script>
    var appCorso = new Vue({
        el: '#appCorso',
        data: {
            link: "/progetto_ium_tweb2/GestioneCorsi",
            result: "",
            data: [],
            corso: "",
            username: null,
            admin: null
        },
        methods: {
            checkAutentication: function () {
                this.username =  sessionStorage.getItem("username");
                this.admin = sessionStorage.getItem("admin") === "true";

                if(this.username === null || this.admin === null) {
                    window.location.replace("/progetto_ium_tweb2/loginPage.html");
                    return false;
                } else
                    return true;
            },
            getCorsi: function () {
                var self = this;
                $.post(this.link, {op: "visualizzare"}, data => {
                    self.result = data.result;
                    self.data = data.data;
                });
            },
            addCorso: function () {
                var self = this;
                $.post(this.link, {op: "inserire", corso: this.corso}, data => {
                    self.result = data.result;
                    if (self.result === "success")
                        self.data.push({titolo: self.corso});
                    else
                        alert("Errore nell'inserimento del corso")
                })
            },
            delCorso: function (corso, index) {
                var self = this;
                $.post(this.link, {op: "eliminare", corso: corso}, data => {
                    self.result = data.result;
                    if (self.result === "success")
                        self.data.splice(index, 1);
                    else
                        alert("Errore nell'eliminazione del corso")
                })
            }
        },
        mounted() {
            var autenticated = this.checkAutentication();
            if (autenticated)
                this.getCorsi()
        }
    })
</script>

<script src="navbar-loader.js"></script>
<script src="footer-loader.js"></script>

</body>
</html>