.bg {
    background-image: url("img/corsi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#selected {
    text-emphasis-color: yellow;
}