<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.bundle.js"></script>
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="gestioneCorsi.css" rel="stylesheet">
    <!-- <link href="toast.css" rel="stylesheet"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.js"></script>

    <script src="vue/vue.min.js" ></script>

    <title>Gestione Corsi</title>
</head>
<body class="bg">

<div id="navbar" id-active-page="admin"></div>

<div id="appCorso">
    <div class="container-fluid card w-50 mx-auto mt-5">
        <h1 class="text-center my-4">Gestione corsi</h1>
        <hr>
        <form action="javascript:appCorso.addCorso()">
            <div class="mx-auto text-center">
                <p class="text-primary">
                    Nuovo corso:
                    <input aria-required="true" class="ml-2" id="inputCorso" placeholder="Corso" required type="text"
                           v-model="corso"/>
                    <button class="btn btn-primary ml-5 w-auto" title="Inserisci un nuovo corso" type="submit">
                        Inserisci
                    </button>
                </p>
            </div>
        </form>
    </div>

    <div class="container-fluid card w-50 mx-auto mt-5">
        <p class="text-primary my-3">Lista corsi esistenti: </p>
        <p v-if="data.length === 0" class="border-top pt-2">Nessun corso da visualizzare</p>
        <table v-else class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Corso</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(c, index) in data" :key="index">
                <td>{{index+1}}</td>
                <td class="col-5">{{c.titolo}}</td>
                <td class="text-right">
                    <button class="btn btn-secondary btn-sm" title="Cancella il corso corrispondente"
                            v-on:click="delCorso(c.titolo, index)">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer"></div>

<script>
    var appCorso = new Vue({
        el: '#appCorso',
        data: {
            link: "/progetto_ium_tweb2/GestioneCorsi",
            result: "",
            data: [],
            corso: "",
        },
        methods: {
            getCorsi: function () {
                var self = this;
                $.post(this.link, {op: "visualizzare"}, data => {
                    self.result = data.result;
                    self.data = data.data;
                });
            },
            addCorso: function () {
                var self = this;
                $.post(this.link, {op: "inserire", corso: this.corso}, data => {
                    self.result = data.result;
                    $("#inputCorso").val("");
                    if (self.result === "success") {
                        self.data.push({titolo: self.corso});
                        // makeToast("text-success", "Successo", "Corso inserito correttamente")
                        toastr.success("Corso inserito correttamente", "Successo")
                    } else {
                        // makeToast("text-danger", "Errore", "Impossibile inserire il corso");
                        toastr.error("Impossibile inserire il corso", "Errore");
                    }
                })
            },
            delCorso: function (corso, index) {
                var self = this;
                bootbox.confirm({
                    message: "Sei sicuro di voler eliminare il corso selezionato?",
                    locale: "it",
                    callback: function (confirmed) {
                        if (confirmed) {
                            $.post(self.link, {op: "eliminare", corso: corso}, function (data) {
                                self.result = data.result;
                                $("#inputCorso").val("");
                                if (self.result === "success") {
                                    self.data.splice(index, 1);
                                    // makeToast("text-success", "Successo", "Corso eliminato correttamente")
                                    toastr.success("Corso eliminato correttamente", "Successo")
                                } else
                                // makeToast("text-danger", "Errore", "Impossibile eliminare: ci sono docenti che offrono ripetizioni del corso selezionato")
                                    toastr.error("Errore nell'eliminazione del corso", "Errore")
                            })
                        }
                    }
                });
                /*
                if (confirm("Sei sicuro di voler eliminare il corso selezionato?")) {
                    var self = this;
                    $.post(this.link, {op: "eliminare", corso: corso}, function (data) {
                        self.result = data.result;
                        $("#inputCorso").val("");
                        if (self.result === "success") {
                            self.data.splice(index, 1);
                            // makeToast("text-success", "Successo", "Corso eliminato correttamente")
                            toastr["success"]("Corso eliminato correttamente", "Successo")
                        } else
                            // makeToast("text-danger", "Errore", "Impossibile eliminare: ci sono docenti che offrono ripetizioni del corso selezionato")
                            toastr["error"]("Errore nell'eliminazione del corso", "Errore")
                    })
                }
                 */
            }
        },
        mounted() {
            this.getCorsi();
            toastr.options.closeButton = true;
            toastr.options.positionClass = "toast-bottom-right";
            toastr.options.newestOnTop = false;
            var it = {
                OK: 'Ok',
                CONFIRM: 'Ok',
                CANCEL: 'Cancella'
            };
            bootbox.addLocale("it", it);
        }
    })
</script>

<script src="navbar-loader.js"></script>
<script src="footer-loader.js"></script>
<!-- <script src="toast-loader.js"></script> -->

</body>
</html>