<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="gestioneCorsi.css" >
    <style type="text/css" media="screen">
        #selected {
            text-decoration-color: lightseagreen;
        }
    </style>
    <!-- librerie bootstrap -->
    <script src="bootstrap-4.4.1-dist/js/popper.min.js" ></script>
    <script src="bootstrap-4.4.1-dist/js/jquery-slim.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <!-- librerie jquery -->
    <script src="jquery/jquery.min.js" ></script>
    <!-- librerie vue -->
    <script src="vue/vue.min.js" ></script>

    <title>Gestione Corsi</title>
</head>
<body class="bg">
<div class="container-fluid" >
    <!-- barra di navigazione -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img src="img/logo4.png" width="25px" alt="Logo"/> Ripetizioni</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="homepage.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ripetizioni
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Prenota</a>
                        <a class="dropdown-item" href="#">Visualizza</a>
                    </div>
                </li>

                <!-- Questa sezione sara visibile solo dagli amministratori -->
                <li class="nav-item">
                    <a class="nav-link active" href="#">Gestione corsi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-selected="true" id="selected">Gestione docenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Visualizza tutte le prenotazioni</a>
                </li>
                <!-- fine sezione amministratori  -->
            </ul>

            <ul class="nav navbar-nav">
                <!-- Nome utente aggiunto dinamicamente -->
                <p class="navbar-text text-muted my-0 mr-2">Benvenuto, Utente </p>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="img/user.png" width="25px" alt="User logo"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownDropdown">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Fine sezione amministratore -->
    </nav>

    <div id="appCorso">
        <div class="container-fluid card w-50 mx-auto mt-5">
            <h1 class="text-center my-4">Gestione corsi</h1>
            <hr>
            <form action="javascript:appCorso.addCorso()">
                <div class="mx-auto align-content-center">
                    <p class="text-primary">Nuovo corso: <input aria-required="true" v-model="corso" type="text" placeholder="Corso" required/> <button type="submit" class="btn btn-primary">Inserisci</button></p>
                </div>
                </form>
        </div>

        <div class="container-fluid card w-50 mx-auto mt-5">
            <p class="text-primary my-3">Lista corsi esistenti: </p>
            <p v-if="data.length === 0">Nessun corso da visualizzare</p>
            <table v-else class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Corso</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(c, index) in data" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{c.titolo}}</td>
                    <td class="align-content-center">
                        <button v-on:click="delCorso(c.titolo, index)" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Cancella</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script>
    var appCorso = new Vue({
        el: '#appCorso',
        data: {
            link: "/progetto_ium_tweb2/GestioneCorsi",
            result: "",
            data: [],
            corso: "",
            username: null,
            admin: null
        },
        methods: {
            checkAutentication: function () {
                this.username =  sessionStorage.getItem("username");
                this.admin = sessionStorage.getItem("admin") === "true";

                if(this.username === null || this.admin === null) {
                    window.location.replace("/progetto_ium_tweb2/loginPage.html");
                    return false;
                } else
                    return true;
            },
            getCorsi: function () {
                var self = this;
                $.post(this.link, {op: "visualizzare"}, data => {
                    self.result = data.result;
                    self.data = data.data;
                });
            },
            addCorso: function () {
                var self = this;
                $.post(this.link, {op: "inserire", corso: this.corso}, data => {
                    self.result = data.result;
                    if (self.result === "success")
                        self.data.push({titolo: self.corso});
                    else
                        alert("Errore nell'inserimento del corso")
                })
            },
            delCorso: function (corso, index) {
                var self = this;
                $.post(this.link, {op: "eliminare", corso: corso}, data => {
                    self.result = data.result;
                    if (self.result === "success")
                        self.data.splice(index, 1);
                    else
                        alert("Errore nell'eliminazione del corso")
                })
            }
        },
        mounted() {
            var autenticated = this.checkAutentication();
            if (autenticated)
                this.getCorsi()
        }
    })
</script>

</body>
</html>