<!DOCTYPE html>
<html lang="it">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- librerie bootstrap -->
   <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
   <script src="bootstrap-4.4.1-dist/js/jquery-slim.min.js"></script>
   <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
   <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- development version, includes helpful console warnings -->
   <script src="vue/vue.js"></script>
   <!-- librerie jquery -->
   <script src="jquery/jquery.js"> </script>

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
   <link href="gestioneDocenti.css" rel="stylesheet">
   <title>
      Gestione Docenti
   </title>
</head>
<body class="bg">

<div id="navbar" id-active-page=""></div>

<!--   &lt;!&ndash; lista di docenti &ndash;&gt;
   <div class="container-fluid card w-75 mx-auto mt-5" id="docenti">
      <div class="list-group-horizontal-md" id="azioni">
         <button class="btn btn-primary" id="aggiungi">
            Aggiungi
         </button>
         <button class="btn btn-danger" id="rimuovi">
            Rimuovi
         </button>
         <button class="btn btn-primary" id="insegnamenti">
            Insegnamenti
         </button>
      </div>
      <div class="btn-group-vertical" id="listDoc" >
         <button class="btn btn-light btn-block btn-lg" id="docente" v-for="n in docenti.length" :key="n">
            #{{n-1}}  {{docenti[n-1].cognome}} {{docenti[n-1].nome}} <span class="badge badge-primary rounded">n° corsi</span>
         </button>
      </div>
   </div>-->

   <!-- lista di docenti -->
   <div class="container-fluid card w-75 mx-auto mt-5" id="docenti">
      <div class="list-group-horizontal-md" id="azioni">
         <button class="btn btn-primary" id="aggiungi" v-if="!areaAggiungi">
            Aggiungi
         </button>
         <button class="btn btn-danger" id="rimuovi">
            Rimuovi
         </button>
         <button class="btn btn-primary" id="insegnamenti">
            Insegnamenti
         </button>
      </div>
      <!-- Aggiungi docente -->
<!--      <div class="container-fluid card" id="aggiungiDocente" v-show="areaAggiungi">
            <div class="mx-auto text-center">
               <p class="text-primary">Nuovo docente:<input class="ml-2" aria-required="true" v-model="nuovoDocente" type="text" placeholder="Docente" required/> <button v-on:click="areaAggiungi=false" title="Inserisci un nuovo docente" class="btn btn-primary ml-5 w-auto">Inserisci</button></p>
            </div>
      </div>-->
      <!-- lista docenti -->
      <div class="btn-group-toggle btn-group-vertical" id="listDoc" data-toggle="buttons">
         <label class="btn btn-outline-danger btn-block btn-lg" id="docente" v-for="n in docenti.length" :key="n-1">
            <input type="checkbox">
            #{{n-1}}  {{docenti[n-1].cognome}} {{docenti[n-1].nome}} <span class="badge badge-primary rounded">n° corsi</span>
         </label>
      </div>
   </div>
</div>

<script>
   var listDoc = new Vue({
      el: '#listDoc',
      data: {
         docenti: [],
         areaAggiungi: false,
         nuovoDocente: {},
      },
      mounted() {this.getDocenti()},
      methods: {
         getDocenti: function () {
            var self = this;
            $.get("/progetto_ium_tweb2/GestioneDocenti", {op: "visualizzare"}, function(data) {
               self.docenti = data;
            });
         }
      }
   });
</script>
<div id="footer"></div>

<script src="gestioneDocenti.js"></script>
<script src="navbar-loader.js"></script>
<script src="footer-loader.js"></script>

</body>
</html>