<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="vue/vue.min.js"></script>

    <style>
        body {
            min-width: 420px;
        }
    </style>
    <title>Homepage</title>
</head>
<body>

<div id="navbar" id-active-page="home"></div>

<!-- scorre immagini benvenuto -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active link">
            <a href="/progetto_ium_tweb2/Redirect?redirect=ripetizioniDisponibili">
            <img class="d-block w-100" src="img/img1.jpg" alt="Prenota">
            <div class="carousel-caption d-none d-md-block">
                <h5>Prenota</h5>
                <p>Calendario delle ripetizioni disponibili</p>
            </div>
            </a>
        </div>

        <div class="carousel-item">
            <a href="/progetto_ium_tweb2/Redirect?redirect=gestioneStorico">
            <img class="d-block w-100" src="img/img2.jpg" alt="Disdici">
            <div class="carousel-caption d-none d-md-block">
                <h5>Disdici</h5>
                <p>Canella una prenotazione in qualsiasi momento</p>
            </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="/progetto_ium_tweb2/Redirect?redirect=gestioneStorico">
            <img class="d-block w-100" src="img/img3.jpg" alt="Storico prenotazioni">
            <div class="carousel-caption d-none d-md-block">
                <h5>Storico prenotazioni</h5>
                <p>Visualizza tutte le tue prenotazioni attive, effettuate e disdette</p>
            </div>
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<article class="m-5">
    <div class="card" id="appProfilo">
        <div class="card-header text-sm-center text-secondary">Homepage</div>
        <div class="card-body">
            <div v-if="!ospite">
                <div class="px-5 py-2">
                    <h2 class="card-title">Profilo</h2>
                    <p class="font-weight-bold my-2">{{username}}
                        <span class="badge badge-info" v-if="admin">Admin</span>
                        <span class="badge badge-info" v-else>Cliente</span>
                    </p>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <h5 class="card-header">Prenotazioni</h5>
                        <div class="card-body">
                            <p class="text-secondary">Numero prenotazioni: <span
                                    class="text-dark">{{numPrenotazioni}}</span></p>
                            <p class="text-secondary">Attive: <span class="text-dark">{{numAttive}}</span></p>
                            <p class="text-secondary">Effettuate: <span class="text-dark">{{numEffettuate}}</span></p>
                            <p class="text-secondary">Disdette: <span class="text-dark">{{numDisdette}}</span></p>
                            <p class="text-secondary">Numero corsi seguiti: <span class="text-dark">{{numCorsi}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Prossima prenotazione</h5>
                        <div class="card-body">
                            <div v-if="numAttive !== 0">
                                <p class="text-secondary">Docente: <span class="text-dark">{{docente}}</span>
                                </p>
                                <p class="text-secondary">Corso: <span class="text-dark">{{prossimaPrenotazione.corso.titolo}}</span>
                                </p>
                                <p class="text-secondary">Giorno: <span class="text-dark">{{prossimaPrenotazione.giorno | giornoEsteso}}</span>
                                </p>
                                <p class="text-secondary">Ora: <span class="text-dark">{{prossimaPrenotazione.slot | slotEsteso}}</span>
                                </p>
                            </div>
                            <p class="text-info" v-else>Non hai prenotazioni attive</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-info" v-else>Hai fatto accesso come ospite</p>
        </div>
    </div>
</article>

<div id="footer"></div>

<script>
    var appProfilo = new Vue({
        el: "#appProfilo",
        data: {
            username: "",
            admin: null,
            ospite: null,
            link: "/progetto_ium_tweb2/StoricoPrenotazioni",
            prenotazioni: [],
            numPrenotazioni: null,
            numAttive: null,
            numEffettuate: null,
            numDisdette: null,
            numCorsi: null,
            prossimaPrenotazione: null,
        },
        methods: {
            initInfoUtente: function () {
                this.username = sessionStorage.getItem("username");
                this.admin = sessionStorage.getItem("admin") === "true";
                this.ospite = sessionStorage.getItem("ospite") === "true";
            },
            getPrenotazioniUtente: function () {
                var self = this;
                var utente = JSON.stringify({
                    account: this.username,
                    password: null,
                    admin: null
                });
                $.get(this.link, {utente: utente}, function (data) {
                    self.prenotazioni = data;
                    self.initStatistics()
                });
            },
            initStatistics: function () {
                this.numPrenotazioni = this.prenotazioni.length;
                this.numAttive = this.prenotazioni.filter(p => p.stato === "ATTIVA").length;
                this.numEffettuate = this.prenotazioni.filter(p => p.stato === "EFFETTUATA").length;
                this.numDisdette = this.prenotazioni.filter(p => p.stato === "DISDETTA").length;
                this.numCorsi = new Set(this.prenotazioni.map(p => p.corso.titolo)).size;
                this.prossimaPrenotazione = this.nextPrenotazione(this.getGiorno(), this.getOra());
            },
            getGiorno: function () {
                return (new Date().getDay() + 6) % 7;
            },
            getOra: function () {
                return new Date().getHours()
            },
            valueOfGiorno: function (giorno) {
                switch (giorno) {
                    case "LUN":
                        return 0;
                    case "MAR":
                        return 1;
                    case "MER":
                        return 2;
                    case "GIO":
                        return 3;
                    case "VEN":
                        return 4;
                }
            },
            valueOfSlot: function (slot) {
                switch (slot) {
                    case "SLOT1":
                        return 0;
                    case "SLOT2":
                        return 1;
                    case "SLOT3":
                        return 2;
                    case "SLOT4":
                        return 3;
                }
            },
            nextPrenotazione: function (currentGiorno, currentOra) {
                if (currentOra < 15)
                    currentOra = -1; // minimo
                else if (currentOra >= 19) {
                    currentOra = -1; // minimo
                    currentGiorno += 1 // giorno incrementato
                } else
                    currentOra = currentOra % 15; // value of slot
                if (currentGiorno > 4)
                    currentGiorno = -1; // next is monday

                var comparator = (p1, p2) => {
                    const compareGiorno = this.valueOfGiorno(p1.giorno) - this.valueOfGiorno(p2.giorno);
                    return (compareGiorno === 0) ? this.valueOfSlot(p1.slot) - this.valueOfSlot(p2.slot) : compareGiorno;
                };
                this.prenotazioni.sort(comparator);

                var prossimePrenotazioni = this.prenotazioni.filter(p =>
                    p.stato === "ATTIVA" && this.valueOfGiorno(p.giorno) > currentGiorno
                    || this.valueOfGiorno(p.giorno) === currentGiorno && this.valueOfSlot(p.slot) > currentOra);

                if (prossimePrenotazioni.length === 0)
                    return this.prenotazioni.filter(p => p.stato === "ATTIVA")[0];
                else
                    return prossimePrenotazioni[0];
            }
        },
        mounted() {
            this.initInfoUtente();
            this.getPrenotazioniUtente()
        },
        filters: {
            giornoEsteso(giorno) {
                switch (giorno) {
                    case "LUN":
                        return "Lunedì";
                    case "MAR":
                        return "Martedì";
                    case "MER":
                        return "Mercoledì";
                    case "GIO":
                        return "Giovedì";
                    case "VEN":
                        return "Venerdì";
                    default:
                        return "";
                }
            },
            slotEsteso(slot) {
                switch (slot) {
                    case "SLOT1":
                        return "15 - 16";
                    case "SLOT2":
                        return "16 - 17";
                    case "SLOT3":
                        return "17 - 18";
                    case "SLOT4":
                        return "18 - 19";
                    default:
                        return "";
                }
            }
        },
        computed: {
            docente: function () {
                var nome = this.prossimaPrenotazione.docente.nome;
                var cognome = this.prossimaPrenotazione.docente.cognome;
                if (nome === undefined)
                    nome = "Docente";
                if (cognome === undefined)
                    cognome = "eliminato";
                return nome + " " + cognome;
            }
        }
    });
</script>

<script src="footer-loader.js"></script>
<script src="navbar-loader.js"></script>

</body>
</html>