#loginCard {
    align-content: center;
    alignment: center;
}

.bg {
    background-image: url("img/login_background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}