<!DOCTYPE html>
<html lang="it">
<head>
   <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
   <link href="loginPage.css" rel="stylesheet">

   <!-- librerie jquery -->
   <script src="jquery/jquery.js"></script>
   <!-- librerie bootstrap -->
   <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
   <script src="bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
   <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

   <script src="vue/vue.js"></script>

   <title>Login</title>
</head>
<body class="bg">

<div class="text-center mt-2">
   <img alt="Logo sito" class="img-fluid w-50" id="logo" src="img/logo.png" style="min-width: 300px"
        title="Ripetizioni: tutto quello di cui uno studente ha bisogno"/>
</div>

<div class="container-fluid mt-3">
   <div class="card-columns">
      <div class="card mt-lg-5 d-block mx-auto" id="loginCard">
         <article class="card-body">
            <p class="text-dark card-title font-weight-bold text-lg-center">Login</p>
            <form action="javascript:app.login()" id="app">
               <p class="text-danger" id="label"></p>
               <div class="form-group mx-3">
                  <div class="input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                     <input aria-label="usernameInput" aria-required="true" autofocus="autofocus"
                            class="form-control" name="username" placeholder="Username" required type="text"
                            v-model="username"/>
                  </div> <!-- input-group.// -->
               </div> <!-- form-group// -->
               <div class="form-group mx-3">
                  <div class="input-group">
                     <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                     </div>
                     <input aria-label="passwordInput" aria-required="true" class="form-control" id="password"
                            name="password" placeholder="******" required type="password" v-model="password">
                  </div> <!-- input-group.// -->
               </div> <!-- form-group// -->
               <div class="form-group mx-3">
                  <button aria-label="buttonAccess" class="btn btn-primary btn-block" type="submit"> Accedi</button>
               </div> <!-- form-group// -->
               <hr>
               <div class="text-center">
                  <a @click="ospite()" class="mx-auto text-sm-center" data-toggle="tooltip" href="javascript:void(0)"
                     title="Accedi come ospite per visualizzare le ripetizioni disponibili">
                     Non hai un account? Accedi come ospite
                  </a>
               </div>
            </form>
         </article>
      </div> <!-- card.// -->

      <div class="card border-dark">
         <div class="card-header">Tutto quello che devi sapere</div>
         <div class="card-body text-dark">
            <h5 class="card-title">Sei uno studente?</h5>
            <div class="card-text p-2">
               <p>
                  Hai qualche lacuna nelle materie scolastiche? Vorresti fare delle lezioni private? Sei nel posto
                  giusto!
               </p>
               <p>
                  Accedi su <span class="font-weight-bold">Ripetizioni</span> per prenotarti agli appuntamenti, ed
                  eventualmente disdire degli appuntamenti
                  prenotati. Tutto questo con pochissimi click!
               </p>
               <p class="mt-2">Sulla piattaforma potrai:</p>
               <ul>
                  <li>Prenotarti ad appuntamenti con un professore registrato, scegliendo comodamente giorno e ora
                  </li>
                  <li>Disdire una prenotazione, se non puoi più andare</li>
                  <li>Visualizzare il tuo storico delle ripetizioni</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- form per redirect -->
<form method="get" id="redirect" action="Redirect" hidden>
   <input name="redirect" type="text" value="homepage"/>
</form>

<div id="footer"></div>

<script>
   var app = new Vue({
      el: "#app",
      data: {
         link: "/progetto_ium_tweb2/Login",
         username: "",
         password: "",
      },
      methods: {
         login : function () {
            var self = this;
            var $label = $("#label");
            $.post(this.link, {username: self.username, password: self.password, ospite: "false"}, data => {
                if (!data.result) {
                  $label.text("Nome utente o password inseriti non corretti");
                    $("#password").val("");
                } else {
                  sessionStorage.setItem("username", self.username);
                  sessionStorage.setItem("admin", data.admin);
                  sessionStorage.setItem("ospite", data.ospite);
                  $("#redirect").submit();
               }
            });
         },
         ospite: function () {
            $.post(this.link, {ospite: "true"}, data => {
               if(data.result) {
                  sessionStorage.setItem("ospite", data.ospite);
                  $("#redirect").submit();
               }
            });
         }
      }
   })
</script>

<script src="footer-loader.js"></script>

</body>
</html>