<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- librerie bootstrap -->
    <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/jquery-slim.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- development version, includes helpful console warnings -->
    <script src="vue/vue.js"></script>
    <!-- librerie jquery -->
    <script src="jquery/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style type="text/css" media="screen">
        #selected {
            text-decoration-color: yellow;
        }
        div#listDoc ul {
            text-align-all: right;
        }
    </style>
    <title>Ripetizioni Disponibili</title>
</head>
<body>

<div id="navbar" id-active-page="prenota"></div>


<div id="listR">
    <!-- lista delle Ripetizioni Disponibili -->
    <div class="container-fluid card w-50 mx-auto mt-5">
        <h1 class="text-center my-4">Lista ripetizioni disponibili</h1>

        <div class="text-center my-4">
            <div class="form-inline">
                <label class="text-primary" for="nomeDocente">Nome docente: </label>
                <span class="input-group-text red lighten-3"><i aria-hidden="true" class="fas fa-search text-grey"></i></span>
                <input class="form-control" id="nomeDocente" placeholder="Cerca per nome docente.." type="text"
                       v-model="nomeDocente">
                <input class="form-control" id="cognomeDocente" placeholder="Cerca per cognome docente.." type="text"
                       v-model="cognomeDocente">
            </div>

            <span class="input-group-text red lighten-3" id="basic-text2"><i aria-hidden="true"
                                                                             class="fas fa-search text-grey"></i></span>
            <label class="text-secondary" for="corso">
                Corso: <input class="form-control" id="corso" placeholder="Cerca per corso.." type="text"
                              v-model="corso">
            </label>
            <label class="text-secondary" for="giorno">Giorno: </label>
            <select class="form-control" data-col="4" id="giorno" title="Scegli un giorno" v-model="giorno">
                <option selected value="">Qualsiasi giorno</option>
                <optgroup label="Giorno">
                    <option value="LUN">Lunedì</option>
                    <option value="MAR">Martedì</option>
                    <option value="MER">Mercoledì</option>
                    <option value="GIO">Gioveì</option>
                    <option value="VEN">Venerdì</option>
                </optgroup>
            </select>
            <label class="text-secondary" for="ora">Ora: </label>
            <select class="form-control" data-col="5" id="ora" title="Scegli un'ora" v-model="ora">
                <option value="">A qualsiasi ora</option>
                <optgroup label="Ora">
                    <option value="SLOT1">15 - 16</option>
                    <option value="SLOT2">16 - 17</option>
                    <option value="SLOT3">17 - 18</option>
                    <option value="SLOT4">18 - 19</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="container-fluid card w-50 mx-auto my-5">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Docente</th>
                <th scope="col">Corso</th>
                <th scope="col">Giorno</th>
                <th scope="col">Ora</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr :key="index" v-for="(r, index) in ripetizioni">
                <td class="col-md-1">{{index+1}}</td>
                <td class="col-md-2">{{r.docente.nome}} {{r.docente.cognome}}</td>
                <td class="col-md-3">{{r.corso.titolo}}</td>
                <td class="col-md-4">{{r.giorno}}</td>
                <td class="col-md-4">{{r.slot}}</td>
                <td class="col-md-5">
                    <button class="btn btn-primary" v-on:click="prenotaRipetizione(r, index)">Prenota</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer"></div>

<script>
    var listR = new Vue({
        el: '#listR',
        data: {
            linkRipetizioniDisponibili: "/progetto_ium_tweb2/RipetizioniDisponibili",
            linkOpSuPrenotazioni: "/progetto_ium_tweb2/OpSuPrenotazioni",

            // lista renderizzata eventualmente con filtri
            ripetizioni: [],

            // lista completa di ripetizioni disponibili
            data: [],

            nomeDocente: "",
            cognomeDocente: "",
            corso: "",
            giorno: "",
            ora: ""
        },
        mounted() {
            this.getRipetizioniDisponibili();
        },
        methods: {
            getRipetizioniDisponibili: function () {
                var self = this;
                $.get(this.linkRipetizioniDisponibili, data => {
                    self.ripetizioni = data;
                    self.data = data
                });
            },
            prenotaRipetizione: function (prenotazione, index) {
                var p = {
                    utente: {account: sessionStorage.getItem("username")},
                    docente: prenotazione.docente,
                    corso: prenotazione.corso,
                    giorno: prenotazione.giorno,
                    slot: prenotazione.slot
                };
                var self = this;
                $.post(this.linkOpSuPrenotazioni, {
                        ops: JSON.stringify(["prenotare"]),
                        prenotazioni: JSON.stringify([p])
                    },
                    success => {
                        if (success) {
                            alert("Prenotazione avvenuta con successo");
                            self.ripetizioni.splice(index, 1);
                            self.data.splice(index, 1)
                        } else
                            alert("Errore nella prenotazione")
                    }
                );
            }
        },
        watch: {
            giorno: function () {
                this.ripetizioni = this.data.filter(p => {
                    return this.giorno !== "" && p.giorno === this.giorno
                })
            }
        }
    })
</script>

<script src="navbar-loader.js"></script>
<script src="footer-loader.js"></script>

</body>
</html>