.bg {
    background-image: url("img/corsi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*
.w-50.card {
    min-width: 300px;
}*/
