<!DOCTYPE html>
<html lang="it">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- librerie bootstrap -->
   <script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
   <script src="bootstrap-4.4.1-dist/js/jquery-slim.min.js"></script>
   <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
   <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- development version, includes helpful console warnings -->
   <script src="vue/vue.js"></script>
   <!-- librerie jquery -->
   <script src="jquery/jquery.js"> </script>

   <!-- script e css nostri -->
   <link href="gestioneCorsi.css" rel="stylesheet">
   <title>
      Prenotazioni
   </title>
</head>
<body class="bg">

<div id="navbar" id-active-page=""></div>

   <!-- lista storico prenotazioni -->
   <div id="listStor" class="container-fluid card w-75 mx-auto mt-5">
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col">Cognome Docente</th>
               <th scope="col">Nome Docente</th>
               <th scope="col">Corso</th>
               <th scope="col">Utente</th>
               <th scope="col">Giorno</th>
               <th scope="col">Ora</th>
               <th scope="col">Stato</th>
            </tr>
         </thead>
         <tbody>
         <tr v-for="(prenot, index) in prenotazioni">
            <td>{{prenot.docente.cognome}}</td>
            <td>{{prenot.docente.nome}}</td>
            <td>{{prenot.corso.titolo}}</td>
            <td>{{prenot.utente.account}}</td>
            <td>{{prenot.giorno}}</td>
            <td>{{prenot.slot}}</td>
            <td>
               <span v-if="prenot.stato!=='attiva'">{{prenot.stato}} </span>
               <select aria-label="StatoPrenotazione" v-else v-model="statoAggiornato[index]">
                  <option value="attiva" selected >Attiva</option>
                  <option value="effettuata">Effettuata</option>
                  <option value="disdetta">Disdetta</option>
               </select>
            </td>
         </tr>
         </tbody>
      </table>
      <button v-on:click="salvaPrenotazioni()" class="btn btn-success align-self-end" >Salva</button>
   </div>

<div id="footer"></div>

   <script>
      var listStor = new Vue({
           el: '#listStor',
           data: {
               link: "/progetto_ium_tweb2/StoricoPrenotazioni",
               prenotazioni: [],
               statoAggiornato: [],
               risultato: true,
           },
           mounted() {
               this.getPrenot();
           },
           methods: {
               getPrenot: function () {
                   var self = this;
                   $.get(self.link, function(data) {
                       self.prenotazioni = data ;
                       for(var i=0; i<data.length; i++) {
                          self.statoAggiornato.push(data[i].stato);
                       }
                   });
               },
               salvaPrenotazioni: function () {
                  var thiz = this;
                  var oldPrenot= this.prenotazioni;
                  var newState = this.statoAggiornato;
                  for(var i=0; i<oldPrenot.length; i++) {
                     var oldState = oldPrenot[i].stato;
                     if(oldState !== newState[i]) {
                        var op = "disdire";
                        if(newState[i]==="effettuata")
                           op="effettuare";
                        $.ajax({
                           type: 'POST',
                           url: "/progetto_ium_tweb2/OpSuPrenotazioni",
                           data: {
                              "op": op,
                              "prenotazione": JSON.stringify(oldPrenot[i]),
                           },
                           success: function (res) {
                              thiz.risultato = thiz.risultato && res;
                              if(res)
                                 oldPrenot[i].stato = newState[i];
                           },
                           async:false
                        });
                     } //end if
                  } //end for
                  if(thiz.risultato)
                     window.alert("Operazione riuscita");
                  else
                     window.alert("operazione fallita!");
              } //end func
           }
       })
   </script>


<script src="navbar-loader.js"></script>
<script src="footer-loader.js"></script>

</body>
</html>